*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #589ED9;
}

.container{
    margin: 0 auto;
    text-align: center;
    margin-top: 180px;
    color: white;
    width: 300px;
}

.fa-weibo{
    font-size: 70px;
    margin-bottom: 10px;
}
.heading{
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.inputf{
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    
}

.inputf input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    text-indent: 20px;   
    font-size: 15px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    font-family: 'Open Sans', sans-serif;
}
.button{
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.button input{
    padding: 20px 10px;
    width: 100%;
    background-color: #2186D4;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.button input:hover{
    background-color: black;
}

.inputf input[type="password"]{
    border-top:0.5px solid #ccc;
}

.footer{
    font-size: 20px;

}

.footer h5 a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}